@mixin line-height {
  line-height: 36px;
}

.article {
  display: grid;
}

.article__content {
  @include line-height;

  label {
    margin-right: 6px;
    white-space: pre-wrap;
  }
}

.list {
  padding-left: 24px;

  li {
    @include line-height;
  }
}
